/problema1/JavaApplication2/nbproject/private/
/problema1/Ejecutor/nbproject/private/
/problema2/JavaApplication11/nbproject/private/
/problema2/JavaApplication11/build/
/problema1/Ejecutor/build/
/problema2/Problema3/nbproject/private/
/problema3/Problema3/nbproject/private/
/problema3/Problema3/build/
/problema4/Problema4/nbproject/private/
/problema4/Problema4/build/
